<html>
  <head>
    <base href="http://www.w3school.com.cn/i/" />
    <base target="_blank" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf8">
    <meta http-equiv="expires" content="">
    <meta http-equiv="pragma" content="no-cache">
    <!-- <meta http-equiv="Refresh" content="5"> -->
    <meta http-equiv="set-cookie" content="">
    <meta http-equiv="Window-target" content="_top">
    <meta http-equiv="Page-Enter" content="revealTrans(duration=1000000,transition=50000000)">
    <meta http-equiv="Page-Exit" content="revealTrans(duration=1000000,transition=50000000)">

    <meta name="keywords" content="overmind,zerg,protoss">
    <meta name="description" content="what's up">
    <title>This is The Title</title>

    <link rel="stylesheet" type="text/css" href="/html/csstest1.css">

    <style type="text/css">
      h1 { color:red}
      p {color:blue}
    </style>

    <script type="text/javascript" src="myscripts.js"></script>
    <script type="text/javascript">
      document.write("Hello world!")
    </script>

    <noscript>Your browser does not support javascript!</noscript>

  </head>

